@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&family=Oswald&family=Ubuntu:wght@300&display=swap');

body{
    margin: auto;
    font-family: 'Martel', serif;
    font-size: 14px;
}

#grid{
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows: 200px 125px 50px 170px 235px 200px;
}

h1{
    grid-column: 4/5;
    grid-row: 1;
    margin: auto;
    text-align: center;
    color: gray;
    font-size: 26px;
    border-bottom: solid 5px #0d6ff2;
    border-right: solid 5px #0d6ff2;
    border-top: solid 5px #6FF20D;
    border-left: solid 5px #6FF20D;
    width: 250px;
    z-index: 1;
}

h2{
    font-size: medium;
}

#photoDeProfil{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border-bottom: solid 5px lightgray;
    border-right: solid 5px #6FF20D;
    border-left: solid 5px #0d6ff2;
    grid-column: 1/2;
    grid-row: 1;
    margin: auto;
}

/* PREMIERE COLONNE GRID*/

#contact{
    grid-column: 1/2;
    grid-row: 2;
    margin-left: 20px;
    margin-top: 10px;
}

#liens{
    grid-column: 1/2;
    grid-row:3;
    margin-left: 20px;
    margin-right: 20px;
}

#langues{
    grid-column: 1/2;
    grid-row: 4;
    margin-left: 20px;
    margin-right: 20px;
}

#competences{
    grid-column: 1/2;
    grid-row: 5;
    margin-left: 20px;
    margin-right: 20px;
}

#hobbies{
    grid-column: 1/2;
    grid-row: 6;
    margin-left: 20px;
}

/* RESTE DES COLONNES GRID */

#about{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    grid-column: 2/7;
    grid-row: 2/3;
    border-bottom: 2px solid grey;
    margin-bottom: -30px;
}

#xp{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    grid-column: 2/4;
    grid-row:4/6;
}

#scolaire{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    grid-column: 2/7;
    grid-row: 6/7;
    border-top: 2px solid grey;
    padding-top: 25px;
}

#personnalite{
    margin-left: 175px;
    text-align: justify;
    grid-column:4/7;
    grid-row:4/6;
}

/* STYLE GRID */

#colOne{
    grid-column: 1/2;
    grid-row: 1/9;
    border-right: solid 1px black;
    background-color: rgb(228, 226, 226);
}

#colTwo{
    border-left: dashed 1px black;
    height: 385px;
    width: 1px;
    grid-column: 4;
    grid-row: 4/5;
    margin-left: 80px;
}

/* STYLE LISTE PUCES */

ul{
    list-style: none;
}

ul li::before{
    content: "\261B";
    color: #0d6ff2;
    margin-right: 5px;
}

ul li:hover::before{
    color: #6FF20D;
}

/* STYLE CONTACT */

a{
    text-decoration: none;
    color: #0d6ff2;
}

a:hover{
    text-decoration: none;
    color: #6FF20D;
}

.fa-solid{
    color: #0d6ff2;
}

.fa-brands{
    color: #0d6ff2;
}