@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Lobster&family=Open+Sans:wght@300;400&family=Poppins:wght@500&family=Roboto+Condensed:wght@300&display=swap');

html{
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: rgb(64, 128, 139);
    color: rgb(95, 55, 8)
}

/*GRID & cadres*/

.grider{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 6px;
    grid-template-rows: 10% 3fr 3fr;
    grid-row-gap: 6px;
}

.nom{
    grid-column: 3/ span4;
    text-align: center;
    background-color: rgb(204, 195, 195);
    border: 1px solid black;
    width: 626px;
}

.compétences{
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(204, 195, 195);
    border: 1px solid black;
    text-align: justify;
}

.parcours{    
    background-color: rgb(204, 195, 195);
    border: 1px solid black;
    grid-column: 4;
    grid-row: 3;
}

.hobbies{    
    background-color: rgb(204, 195, 195);
    border: 1px solid black;
    grid-column-start: 3;
    grid-row-start: 3;
}

.personnalité{
    background-color: rgb(204, 195, 195);
    border: 1px solid black;
    grid-column: 5;
    grid-row: 2;
}

.photo{
    grid-column-start: 3;
    grid-row-start: 2;
}

/*Texte*/

.hobbies p{
    margin: 5px 5px 5px 5px;
    text-align: center;
}

h2{
    margin: 5px 5px 5px 5px;
    text-align: center;
}

ul p{
    text-decoration: underline;
}

/*Animation*/

#bg{
    position: absolute;
    margin-left: 210px;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(39, 122, 190);
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    animation: pulse 1.3s infinite;
}

@keyframes pulse{
    to{
        box-shadow : 0 0 0 18px rgba(39, 122, 190, 0.01);
    }
}

